* {
	margin:0;
	padding:0;
}


.container {
	max-width:100vw;
	min-height:600px;
}

.container > .main {
	
}

.container > .main > .sub {

}

/*
First 
*/
.div-1 .sub-div-1 {
	display:flex;
	justify-content:center;
	align-items:center;
}

.div-1 .sub-div-1 h3 {
	color:#1B65FF;
	margin:25px 0 20px 0;
	font-family:Lucida Bright;
}

.div-1 .sub-div-1 h3::first-letter {
	font-size:21.5px;
}

.div-1 .sub-div-1 #style {
	color:#FFF;
	background:#1B65FF;
	border-radius:2px;
	padding:0 2px;
	font-family:Lucida Bright;
}

/*
Second 
*/

.div-2 .sub-div-2 {
	display:flex;
	justify-content:center;
	align-items:flex-start;
	box-sizing:border-box;
}

.div-2 .sub-div-2 h3 {
	margin:0 0 10px 0;
	font-family:Geneva;
	font-size:20.3px;
}

/*
Third
*/
.div-3 {
	display:flex;
}

.sub-div-3 {
	flex:1;
}
.sub-div-3 .p {
	font-size:15px;
	margin-bottom:5px;
	font-family:Verdana;
	text-align:center;
}


/*

fourth

*/

.div-4 {
	display:flex;
	
}


.sub-div-4  {
	flex:1;	
	display:flex;
	justify-content:center;
}

.sub-div-4 > input {
	height:3.3rem;
	margin:20px 0 17px 0;
	border:none;
	outline:none;
	border:1px solid #555;
	padding:0 0 0 10px;
	border-radius:4px;
	font-size:16px;
	width:40%;
}

.sub-div-4 > input::placeholder {
	color:#000;
	font-size:16px;
	font-family:Helvetica;
}

/*
Five 
*/
.div-5 {
	display:flex;
}


.sub-div-5 {
	flex:1;
	display:flex;
	justify-content:center;
}

.sub-div-5 > input {
	height:3.3rem;	
	border:none;
	border:1px solid #555;
	outline:none;
	padding:0 0 0 10px;
	border-radius:4px;
	font-size:16px;
	width:40%;
	margin-bottom:22px;
}

.sub-div-5 > input::placeholder {
	color:#000;
	font-size:16px;
	font-family:Helvetica;
}

/* 

Six

*/

.div-6 {
	display:flex;
}

.sub-div-6 {
	flex:1;
	display:flex;
	justify-content:center;
}

.sub-div-6 button {
	all:unset;
	height:3.3rem;
	width:42%;
	border-radius:20px;
	background:#1B65FF;
	text-align:center;
	color:#FFF;
	font-weight:550;
	font-size:18.5px;
	font-family:Helvetica;
}

.sub-div-6 button:hover {
	padding:0.5px;
}


/*
7
*/
.div-7 {
	display:flex;
}

.sub-div-7 {
	flex:1;
	display:flex;
	justify-content:center;
}

.sub-div-7 > a  {
	all:unset;
	margin:23px 0;
	color:#1B65FF;
	font-family:Helvetica;
	font-weight:600;
}

.sub-div-7 > a:hover {
	text-decoration:underline;
}

.sub-div-8 > a {
	all:unset;
	color:#1B65FF;
	font-family:Helvetica;
	font-weight:600;
}

.sub-div-8 > p {
	font-family:Helvetica;
	font-weight:400;
}
/*
8
*/
.div-8 {
	display:flex;
}

.sub-div-8 {
	flex:1;
	display:flex;
	justify-content:center;
}


/*
===========
media 
===========
*/
@media only screen and (max-width: 800px) and (min-width: 481px) {
	.sub-div-4 > input ,.sub-div-5 > input{
		width:70%;
	}
	.sub-div-6 button {
		width:73%;
	}
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
	.sub-div-4 > input ,.sub-div-5 > input{
		width:85%;
	}
	.sub-div-6 button {
		width:88%;
	}

}

